* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),
                     url(https://images.unsplash.com/photo-1541615008677-0d46e9f9dcb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
}

h1 {
    margin: 0;
}

header img {
    max-width: 175px;
}

.main-nav {
    font-size: 18px;
    padding-top: 30px;
    padding-right: 30px;
    font-family: 'Lato', sans-serif;
}

.active {
    color: #57ce3f!important;
    font-size: 25px;
    text-shadow: 1px 1px black;
    font-weight: bold;
}

.main-nav a {
    color: white;
    margin-left: 5px;
}

.main-nav a:hover {
    color: #57ce3f;
}

.drop-down {
    position: relative;
}

.burger {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 35px;
    margin-top: 25px;
    float: right;
}

.stripe {
    background-color: #57ce3f;
    width: 100%;
    height: 3px;
    border-radius: 15px;
}

.mobile-menu {
    background-color: gray;
    width: 200px;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 60px;
    z-index: 99;
}

.show {
    display: flex!important;
}

.mobile-menu a {
    color: white;
    padding: 10px 0px;
    border-top: 1px solid black;
    text-decoration: none;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
}

.mobile-menu a:hover {
    background-color: #57ce3f;
}

.mobile-active {
    color: #57ce3f!important;
    font-size: 25px!important;
    text-shadow: 1px 1px black;
    font-weight: bold;
    border: none!important;
}

a.mobile-active:hover {
    background-color: rgba(238, 241, 237, 0.863)!important;
}

.main {
    text-align: center;
}

.intro {
    margin-top: -20px;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 70%;
}

.tagline {
    width: 100%
}

.tagline h1 {
    color:white;
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
    text-shadow: 2px 2px black;
    letter-spacing: 0.1em;
}

.prof-img img {
    width: 50%;
    border-radius: 50%;
    border: 5px solid #57ce3f;
}

.headline {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-shadow: 2px 2px black;
    letter-spacing: 0.03em;
}

.main h3 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 2px black;
}

.portfolio-button {
    background-color:#32943e;
    font-size: 18px;
    padding: 15px 20px;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    border-radius: 11px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 50px;
}

.portfolio-button:hover {
    background-color:#32943e;
    color: black;
    font-size: 22px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
}

.copyright {
    margin-top: 10px;
}

.footer-nav{
    text-align: center;
    margin-top: 10px;
}

.footer-nav img {
    width: 25px;
}

.footer-nav img:hover {
    background-color: #57ce3f;
}

/* Responsive */

@media screen and (max-width: 1400px) {
    .tagline h1 {
        font-size: 55px;
    }
}

@media screen and (max-width: 1180px) {
    .tagline h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        display: block;
    }
    .prof-img {
        padding-top: 15px;
    }
    .prof-img img {
        width: 30%;
    }
    .headline {
        margin-top: -20px;
        font-size: 25px;
    }
    .portfolio-button {
        margin-top: -15px;
    }
}

@media screen and (max-width: 800px) {
    .main-nav {
        display: none;
    }
    header img {
        max-width: 130px;
        margin-left: -35px;
        margin-top: -25px;
    }
    .tagline h1 {
        margin-left: 40px;
        margin-top: 40px;
    }
    .headline h2 {
    }
    .portfolio-button {
        margin-top: -10px;
    }
    .copyright {
        font-size: 14px;
    }
    .footer-nav img {
        width: 15px;
    }
}

@media screen and (max-width: 500px) {
    header img {
        max-width: 130px;
        margin-left: -35px;
        margin-top: -25px;
    }
    .tagline h1 {
        margin-left: 20px;
    }
    .prof-img img {
        width: 40%;
    }
    .portfolio-button {
        margin-top: -10px;
    }
    .copyright {
        font-size: 14px;
    }
    .footer-nav img {
        width: 15px;
    }
}

@media screen and (min-width: 800px) {
    .drop-down {
        display: none;
    }
}